<a href="https://colab.research.google.com/github/Tech-Amol5278/hackerrank_python/blob/master/Nested_Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Given the names and grades for each student in a Physics class of  students, store them in a nested list and print the name(s) of any student(s) having the second lowest grade.

Note: If there are multiple students with the same grade, order their names alphabetically and print each name on a new line.

Input Format

The first line contains an integer, , the number of students.
The  subsequent lines describe each student over  lines; the first line contains a student's name, and the second line contains their grade.

Output Format

Print the name(s) of any student(s) having the second lowest grade in Physics; if there are multiple students, order their names alphabetically and print each one on a new line.

Sample Input 0

5
Harry
37.21
Berry
37.21
Tina
37.2
Akriti
41
Harsh
39
Sample Output 0

Berry
Harry
Explanation 0

There are  students in this class whose names and grades are assembled to build the following list:

python students = [['Harry', 37.21], ['Berry', 37.21], ['Tina', 37.2], ['Akriti', 41], ['Harsh', 39]]

The lowest grade of  belongs to Tina. The second lowest grade of  belongs to both Harry and Berry, so we order their names alphabetically and print each name on a new line.

In [17]:
std_count = int(input("Enter the no of students to check for the next highest score: "))
std_names = []
std_score = []
std = []
for n in range(std_count):
  name = input("Enter student's name: ")
  score = float(input("Enter student's score: "))
  std_names.append(name)
  std_score.append(score)
  std.append([name,score])

std_copy = std.copy()
std_name_copy = []
std_score_copy = []
max_score = max(std_score)
print(std_copy)
for item in std_copy:
  if item[1] == max_score:
    std_copy.remove(item)
  else :
    std_name_copy.append(item[0])
    std_score_copy.append(item[1])

secnd_high = max(std_score_copy)
for i in std_copy:
  if i[1] == secnd_high:
    print(i[0])

Enter the no of students to check for the next highest score: 5
Enter student's name: Harry
Enter student's score: 37.21
Enter student's name: Berry
Enter student's score: 37.21
Enter student's name: Tina
Enter student's score: 37.2
Enter student's name: Akriti
Enter student's score: 41
Enter student's name: Harsh
Enter student's score: 39
[['Harry', 37.21], ['Berry', 37.21], ['Tina', 37.2], ['Akriti', 41.0], ['Harsh', 39.0]]
Harry
Berry